<div class="row border-bottom" ng-controller="MenuController"  ng-show="isLogged()" onunload="teste()">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <span minimaliza-sidebar></span>
            <form role="search" class="navbar-form-custom" method="post">
                <div class="form-group">
                    <input type="text" value="{{ pageTitle }}" style="width: 1000px; color: #3B3B3B; font-size:24px;" class="form-control" readonly id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="#/logout">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</div>


