<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name"><img src="build/images/logo2.png" alt=""/></h1>

        </div>
        <h3>Registre-se!</h3>
        <p>Informe o CNPJ de sua empresa no campo abaixo</p>
        <form class="m-t" role="form" name="form1"  onsubmit="return verificaCNPJ();">
            <div class="form-group">
                <input type="text" name="cpf_cnpj" id="cpf_cnpj" class="form-control" data-mask="99.999.999/9999-99" placeholder="CNPJ *">
            </div>

            <input type="button" name="btn" value="Cadastrar" id="submitBtn" ng-click="verificaCNPJ()" class="btn btn-primary block full-width m-b" />

            <p class="text-muted text-center"><small>Já possui uma conta?</small></p>
            <a class="btn btn-sm btn-white btn-block" ng-href="#/login">Login</a>
        </form>
        <p class="m-t"> <small>JHR Desenvolvimentos &copy; 2015</small> </p>
    </div>
</div>


<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" method="post" ng-controller="CadastroController" >
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmação de CNPJ</h4>
            </div>

            <div class="alert alert-danger alert-dismissable" ng-show="habilitaErro">
                {{erro}}
            </div>

            <form id="receita_cnpj" name="receita_cnpj" method="post" ng-submit="getInformacoes()">
            <div class="modal-body">
                <p>
                    <label>CNPJ</label><br />
                    <input name="cnpj" id="cnpj" type="text" maxlength="14" value="{{cnpj}}" required readonly="true"/><br />
                    <label>Captcha</label><br />


                    <div id="spinner" class="spiner-example" style="display:none;">
                        <div class="sk-spinner sk-spinner-circle">
                            <div class="sk-circle1 sk-circle"></div>
                            <div class="sk-circle2 sk-circle"></div>
                            <div class="sk-circle3 sk-circle"></div>
                            <div class="sk-circle4 sk-circle"></div>
                            <div class="sk-circle5 sk-circle"></div>
                            <div class="sk-circle6 sk-circle"></div>
                            <div class="sk-circle7 sk-circle"></div>
                            <div class="sk-circle8 sk-circle"></div>
                            <div class="sk-circle9 sk-circle"></div>
                            <div class="sk-circle10 sk-circle"></div>
                            <div class="sk-circle11 sk-circle"></div>
                            <div class="sk-circle12 sk-circle"></div>
                        </div>
                    </div>


                    <img data-ng-src="{{imagem}}"><br />
                        <a ng-click="atualizaCaptcha()"><i class="fa fa-refresh"></i></a>
                        <br />Informe os caracteres da imagem no campo abaixo<br />
                        <input name="captcha_cnpj" id="captcha_cnpj" type="text" maxlength="6" required />
                        <br />
                    </p>
                <p>
                    <!--<input class="btn btn-white" id="enviar" name="enviar" type="submit" value="Consultar"/>-->
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" id="close_modal" class="btn btn-white" data-dismiss="modal" ng-click="habilitaLogin=false">Cancelar</button>
                <input class="btn btn-primary" id="consultar" name="consultar" type="submit" value="Consultar" ng-click="habilitaCadastro=true" />
                <input class="btn2" type="hidden" data-dismiss="modal" />
            </div>
            </form>
        </div>
    </div>
</div>

