<form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Alterar Senha</h4>
    </div>
    <div class="modal-body">

        <div class="form-group" ng-class="{'has-error': !form.password.$valid && form.password.$touched}" id="data_1">
            <label class="col-md-4 control-label">Nova Senha</label>
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    <input type="password" class="form-control" name="password" ng-model="usuarioEditar.password" value="29/10/2015">
                </div>
                <div ng-messages="form.password.$error" class="help-block" ng-show="form.password.$touched">
                    <div ng-message="required">Campo Obrigatório</div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div class="col-md-6 col-md-offset-6">
                <button ng-click="cancel()" class="btn btn-outline btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary">Atualizar</button>
            </div>
        </div>
    </div>
</form>


<script>
    $('#data_1 .input-group.date').datepicker({
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        calendarWeeks: true,
        autoclose: true,
        format: "dd/mm/yyyy"
    });
</script>

