<section class="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-13">
                <div class="boxed-manager">
                    <div class="boxed-manager-menu">
                        <ul class="boxed-manager-menu-nav">
                            <li class="boxed-manager-menu-nav-header">
                                <h3 class="h4">
                                    {{totalClientes}} Cliente(s)

                                    <div class="btn-group pull-right">
                                        <label class="select-styled select-styled-default select-styled-sm">
                                            <select>
                                                <option selected="selected">A</option>
                                                <option>B</option>
                                                <option>C</option>
                                                <option>D</option>
                                                <option>E</option>
                                                <option>F</option>
                                                <option>G</option>
                                                <option>H</option>
                                                <option>I</option>
                                                <option>J</option>
                                                <option>K</option>
                                                <option>L</option>
                                                <option>M</option>
                                                <option>N</option>
                                                <option>O</option>
                                                <option>P</option>
                                                <option>Q</option>
                                                <option>R</option>
                                                <option>S</option>
                                                <option>T</option>
                                                <option>U</option>
                                                <option>V</option>
                                                <option>W</option>
                                                <option>X</option>
                                                <option>Y</option>
                                                <option>Z</option>
                                            </select>
                                        </label>

                                        <a href="#/clientes/novo" class="btn btn-default btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </h3>
                            </li>
                            <li class="boxed-manager-menu-nav-item" dir-paginate="cliente in clientes | itemsPerPage: clientesPerPage" total-items="totalClientes" current-page="pagination.current">
                                <a href="javascript:void(0)" ng-click="exibirCliente(cliente)">
                                    <header>
                                        <h4 class="h4 text-boulder">{{ cliente.nome }}</h4>
                                        <small class="text-upper text-silver">Contato: <strong>{{ cliente.contato}}</strong></small>
                                    </header>
                                </a>
                            </li>
                            <dir-pagination-controls max-size="maxSize" on-page-change="pageChanged(newPageNumber)"  ></dir-pagination-controls>
                        </ul>
                    </div>
                    <div class="boxed-manager-main boxed-manager-main-xlg">
                        <div class="boxed-manager-main-header">
                            <h4 class="h4">
                                Dados do cliente

                                <div class="btn-group pull-right">
                                    <a href="#/clientes/{{cliente.id}}/editar" class="btn btn-outline btn-default btn-xs" title="Editar">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a ng-click="excluirCliente(cliente.id)" class="btn btn-danger btn-xs excluir" title="Apagar">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </h4>
                        </div>

                        <div class="boxed-manager-main-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <p>
                                        <strong>Nome:  </strong> {{ cliente.nome }}
                                    </p>
                                    <p>
                                        <strong>Tipo de pessoa:  </strong> {{ cliente.tipo_pessoa }}
                                    </p>
                                    <p>
                                        <strong>Celular:  </strong> {{ cliente.telefone_1 }}
                                    </p>
                                    <p>
                                        <i class="fa fa-envelope-o"></i> {{ cliente.email }}
                                    </p>
                                </div>
                                <div class="col-xs-6">
                                    <p>
                                        <strong>CPF / CNPJ:  </strong> {{ cliente.cpf_cnpj }}
                                    </p>
                                    <p>
                                        <strong>Contato:  </strong> {{ cliente.contato }}
                                    </p>
                                    <p>
                                        <strong>Telefone Fixo:  </strong>{{ cliente.telefone_2 }}
                                    </p>
                                    <p>
                                        <i class="fa fa-skype"></i> {{ cliente.skype }}
                                    </p>
                                </div>
                            </div>

                            <br/>

                            <div class="boxed-manager-main-body-fluid">
                                <ul class="list-styled list-styled-alt">
                                    <li class="list-styled-header list-styled-header-lg text-upper text-center">
                                        <h4 class="h4">Endereço</h4>
                                    </li>
                                </ul>
                                <div class="boxed-manager-main-body2">

                                    <div class="col-xs-6">
                                        <p>
                                            <strong>Logradouro:  </strong> {{ cliente.logradouro }}
                                        </p>
                                        <p>
                                            <strong>Bairro:  </strong> {{ cliente.bairro }}
                                        </p>
                                        <p>
                                            <strong>UF:  </strong> {{ cliente.uf }}
                                        </p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>
                                            <strong>Complemento:  </strong> {{ cliente.complemento }}
                                        </p>
                                        <p>
                                            <strong>Cidade:  </strong> {{ cliente.cidade }}
                                        </p>
                                        <p>
                                            <strong>CEP:  </strong>{{ cliente.cep }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="boxed-manager-main-body-fluid">
                                <ul class="list-styled list-styled-alt">
                                    <li class="list-styled-header list-styled-header-lg text-upper text-center">
                                        <h4 class="h4">Sistema (Plano vigente)</h4>
                                    </li>
                                </ul>
                                <div class="boxed-manager-main-body3">

                                    <div class="col-xs-6">
                                        <p>
                                            <strong>Numero de Usuários:  </strong> {{ cliente.numero_usuarios }}
                                        </p>
                                        <p>
                                            <strong>Data de Contratação:  </strong> {{ cliente.data_contratacao }}
                                        </p>
                                        <p>
                                            <strong>Status do Usuário:  </strong> {{ cliente.status }}
                                        </p>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>
                                            <strong>Valor Mensal:  </strong> {{ cliente.valor_mensal }}
                                        </p>
                                        <p>
                                            <strong>Data de Expiração:  </strong> {{ cliente.data_expiracao }}
                                        </p>
                                        <p>
                                            <strong>Vendedor:  </strong>{{ cliente.id_revendedor }}
                                        </p>
                                    </div>
                                    <div class="col-xs-1">
                                        <p>
                                            <strong>Observações:  </strong> {{ cliente.uf }}
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="boxed-manager-main-body-fluid">
                                <ul class="list-styled list-styled-alt">
                                    <li class="list-styled-header list-styled-header-lg text-upper text-center">
                                        <h4 class="h4">Usuários</h4>
                                    </li>
                                </ul>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Quantidade de Consultas</th>
                                        <th>Data de validade</th>
                                        <th>Status</th>
                                        <th>Ações</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="usuario in usuarios | itemsPerPage: clientesPerPage" total-items="totalClientes" current-page="pagination.current">
                                        <td>{{usuario.name}}</td>
                                        <td>{{usuario.email}}</td>
                                        <td>{{usuario.data_validade | dateBr}}</td>
                                        <td>{{usuario.status}}</td>
                                        <td>
                                            <div class="btn-group pull-right">
                                                <button ng-click="editUser(usuario.id)" class="btn btn-outline btn-default btn-xs"><i class="fa fa-edit"></i></button>
                                                <button ng-click="excluirUsu(usuario.id)" class="btn btn-danger btn-xs excluir"><i class="fa fa-trash"></i></button>
                                                <button ng-click="updatePass(usuario.id)" data-toggle="modal" data-target="#modal" class="btn btn-default btn-xs"><i class="fa fa-key"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div ng-show="!usuarios.length">
                                    <li class="text-center">
                                        <h4>Não existem usuários para este cliente</h4>
                                    </li>
                                </div>
                            </div>

                            <form class="form-horizontal" type="hide" name="form" role="form" method="" ng-submit="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
